FINNHUB_API_KEY=replace_with_your_finnhub_key
KAFKA_BROKER=localhost:9094
KAFKA_TOPIC=crypto_trades
SYMBOLS=BINANCE:BTCUSDT,BINANCE:ETHUSDT,BINANCE:BNBUSDT
KAFKA_CLUSTER_ID=replace_with_base64_cluster_id
